<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="Project:Configure"     type="SharedSource.Projects.Commands.AddItemtoProject,SharedSource.Projects" />
      <command name="Project:ViewItems"     type="SharedSource.Projects.Commands.ViewProjectItems,SharedSource.Projects" />
      <command name="Project:AddNewProject" type="SharedSource.Projects.Commands.AddNewProject,SharedSource.Projects" />
    </commands>

    <pipelines>
      <getContentEditorWarnings>
        <processor type="SharedSource.Projects.Pipelines.DisplayProjectContentEditorWarning,SharedSource.Projects" patch:before="processor[@type='Sitecore.Pipelines.GetContentEditorWarnings.RunRules, Sitecore.Kernel']" />
      </getContentEditorWarnings>
    </pipelines>


    <events>
      <event name="item:saved">
        <handler type="SharedSource.Projects.Events.UpdateProjectDates, SharedSource.Projects" method="OnItemSaved">
          <database>master</database>
        </handler>
      </event>
    </events>
    
  </sitecore>
</configuration>